body{
    background-color: #000;
}
header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    align-items: center;
}
header *{
    display: inline;
}
header li a{
    text-decoration: none;
    color: #fff;
}
header li{
    margin: 20px;
}
header div a{
    display: inline;
    margin: 20px;
    height: 44px;
    justify-content: end;
}

.Rectangle-1{
    width: 1728px;
    height: 111px;
    background-color: #000 ;
}

.R-name{
    width: 333px;
    height: 51px;
    top: 30px;
    left: 20px;
    border: 1px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 29px;
    font-weight: 700;
    letter-spacing: 0.06em;
    text-align: center;

    color: #fff;
}

.main-content{
    background-image: url("pizza1 1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
}

.main-content h1 {
    width: 902px;
    height: 215px;
    top: 240px;
    left: 17px;
    padding-left: 20px;
    padding-right: 20px;

    font-family: Quattrocento;
    font-size: 101px;
    font-weight: 700;
    line-height: 109px;
    letter-spacing: 0.09em;
    text-align: left;

  }
  
  
  .main-content p {
    width: 599px;
    height: 325px;
    top: 613px;
    left: 116px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.09em;
    text-align: left;

  }

  .ABOUTUS{
    top: 1216px;
    left: 599px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Quattrocento;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    color: white;
  }

  .heading{
    width: 526px;
    height: 58px;
    top: 1216px;
    left: 599px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Quattrocento;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
  }
  .redlineforabout{
    width: 526px;
    height: 10px;
    top: 1289px;
    left: 599px;
    color: #B62828;
    
  }
  /* section h3{
    width: 526px;+
    height: 58px;
    top: 1216px;
    left: 599px;

    font-family: Quattrocento;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;

  } */
  .ABOUTUS p{
    width: 677px;
    height: 420px;
    top: 1421px;
    left: 193px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.09em;
    text-align: left;
    color: #fff;


  }
  section img{
    width: 631px;
    height: 506px;
    top: 1368px;
    left: 949px;
    border-radius: 10px;

  }
  #menusec p{
    width: 1315px;
    height: 378px;
    top: 2153px;
    left: 212px;
    padding: 0px;
    margin: 0px;
    font-family: Ruda;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.09em;
    text-align: center;
    color: #ffffff;
  }
  .menu-item{
    display: flex;
    align-items: center;
  }
  .img-cont h5{
    width: 348px;
    height: 51px;
    top: 2389px;
    left: 486px;
    padding: 0px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;

    color: #F2C94C;
  }

  .MENU img{
    width: 273.0833435058594px;
    height: 200px;
    top: 2389px;
    left: 193px;
    border-radius: 10px;

  }
  .img-cont p{
    width: 346px;
    height: 120px;
    top: 2440px;
    left: 485px;
    padding-left: 30px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.09em;
    text-align: left;

  }
  .wholeitems{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
  }
  .firstinner{
    display: flex;
    flex-direction: column;
  }
  .secondinner{
    display: flex;
    flex-direction: column;
  }

  .gallcont{
    display: flex;
    justify-content: space-between;
    
  }

  .col1{
    display: flex;
    flex-direction: column;
  }

  .col2{
    display: flex;
    flex-direction: column;
  }
  .col3{
    display: flex;
    flex-direction: column;
  }
  /* .col2 .item2{
    width: 274px;
    height: 200px;
    top: 4362px;
    left: 1024px;
    border-radius: 10px;
  }
  .col3 .item3{
    width: 274px;
    height: 302px;
    top: 4362px;
    left: 1311px;
    border-radius: 10px;
  } */
.findusflex{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.mappara{
    width: 640px;
    height: 181px;
    top: 4809px;
    left: -445px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.09em;
    text-align: left;

    color: #fff;


}
.locatio{
    width: 71px;
height: 67px;
top: 5029px;
left: -445px;

}
.footerr{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
.email{
    color: white;
}
   
